
.example-element-row
  &:hover
    background: whitesmoke

.example-element-row
  &:active
    background: #efefef



.button-edit
  background: url('../../../assets/svg/edit.svg') no-repeat center center transparent
  cursor: pointer
  height: 2rem
  width: 2rem
  border: none

.button-delete
  background: url('../../../assets/svg/trash.svg') no-repeat center center transparent
  border: none
  height: 2rem
  width: 2rem
  cursor: pointer
  margin-left: 1rem

section
  padding: 50px
  background-color: #FFFFFF
  width: 92%
  margin-left: auto
  margin-right: auto

mat-header-cell
  background-color: #efefef
  border-bottom: 1px solid #ccc
  border-top: 1px solid #ccc
  font-weight: bold
  padding: 5px 10px
  text-align: left
  font-size: 1rem
  color: #435370

mat-cell
  padding: 25px
  text-align: left
  vertical-align: middle
  font-size: 1rem
  color: #435370

table
  border-collapse: collapse
  border-spacing: 0
  width: 100%

.mat-elevation-z8
  box-shadow: none

.total-records
  color: #435370
  font-family: 'Roboto', sans-serif
  font-weight: 700
