
.module-name
  font-size: 15px
  color: #1f2937
  margin-bottom: 20px
  margin-left: 60px

.admin-name
  font-size: 20px
  font-weight: bold
  color: #1f2937
  margin-bottom: 20px
  margin-left: 60px

.container
  width: 100%
  max-width: 100%

  /* Ocupará todo el ancho disponible
  padding: 20px
  box-sizing: border-box


.col-form

  /* Ocupará el espacio disponible en la fila
  margin-right: 10px

  /* Espacio entre columnas


.row-form-list
  width: 100%

  /* Ocupará todo el ancho disponible
  display: flex
  justify-content: space-between

  /* Espacio entre elementos en la fila
  margin-bottom: 10px
  flex-direction: row

  /* Espacio entre filas


.row
  width: auto
  display: space-between

.col-form-select
  width: 70%
  display: flex
  margin-inline: 50px

app-select-generic
  margin-right: 30px


.btn-add-user
  width: 100%
  height: 60px
  padding: 20px
  box-sizing: border-box
  background-color: #f3f4f6
  color: white
  border: none
  border-radius: 5px
  font-size: 16px
  font-weight: bold
  cursor: pointer
  transition: 0.3s
  color: #1f2937
